.benefics__wrapper {
    z-index: 1;
    background-color: hsl(220, 16%, 96%);
    width: 100%;
}

.ctaTwo {
    width: 90%;
    margin:0 auto;
    text-align: center;
}

.ctaTwo h2 {
  font-size: 2em;
  color:hsl(233, 26%, 24%);
  padding-top: 100px;
}

.ctaTwo p {
    color:hsl(233, 8%, 62%);
    padding-top:20px;
    padding-bottom: 100px;
}

.benefics {
    width: 90%;
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.bene {
    flex:1 0 auto;
    max-width: 340px;
    width: 90%;
    margin:0 auto;
}

.hidden.bene {
    filter: blur(2px);
    opacity: 0;
    transform: translateX(100%);
    transition: all 0.7s ease-in-out;
}

.hidden.bene:nth-child(2) {
    transition: all 0.9s ease-in-out;
}
.hidden.bene:nth-child(3) {
    transition: all 1.1s ease-in-out;
}
.hidden.bene:nth-child(4) {
    transition: all 1.3s ease-in-out;
}

.show.bene {
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0%);
}

.bene h3 {
    color:hsl(233, 26%, 24%);
    padding-top: 20px;
    font-size: 1.3em;
    padding-bottom: 30px;
}

.bene p {
    color:hsl(233, 8%, 62%);
    padding-bottom: 120px;
}


@media screen and (min-width:1400px) {
    .ctaTwo, .benefics {
        width: 80%;
        text-align: start;
    }

}